*.sublime-project
*.sublime-workspace
.vscode
test/temp*
build
build64
api_search/frontend/build
api_search/frontend/elm-stuff
api_search/frontend/deploy.sh
api_search/frontend/src/Database.elm
.mypy_cache
