body
{
    color: #f8f8f2;
    background-color: #23241f;
    font-size: 110%;
    font-family: monospace;
}

input
{
    font-size: 110%;
}

pre {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

code {
    white-space: pre;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.mainwrapper
{
}

.main
{
    margin: 0 auto;
    width: 800px;
}

.logo
{
    margin: 4px;
}

.githublinks
{
    text-align: center;
}

.githublinks a:link    { color: #f8f8f2 }
.githublinks a:visited { color: #f8f8f2 }
.githublinks a:hover   { color: #f8f8f2 }
.githublinks a:active  { color: #f8f8f2 }

.functionnameandsig
{
}

.parsedsignature
{
    color: #75715e;
    margin: 8px;
}

.queryhelper
{
    color: #75715e;
    margin: 8px;
}

.functionnameandsig
{
}

.functiondoc
{
}

.functiondecl
{
}

.functionrating
{
    color: #75715e;
}

.footer
{
}
