body
{
    color: #f8f8f2;
    background-color: #23241f;
    font-size: 110%;
}

input
{
    font-family: monospace;
    font-size: 110%;
}

code {
    white-space: pre;
}

pre {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

code {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.function
{
    padding: 16px
}

.functionnameandsig
{
}

.functiondoc
{
}

.functiondecl
{
}